body {
	margin-top: 1em;
}

a {
	color: skyblue;
	text-decoration: none;
	transition: all .1s ease-in-out;
}
a:hover {
	color: rgb(58, 125, 151);
	text-shadow: 0 0 2px cyan;
	text-decoration: underline;
}

/*table > tbody > tr > a > img:hover {
	
}*/

/* DARK THEME (Default) */

html {
	background: black;
	background-size: cover;
	color: white;
}

h1,
h2,
h3,
h4 {
	font-family: "Consolas", monospace;
	font-weight: normal !important;
}

.heading > h1 {
	margin-bottom: 7px;
	font-family: "Montserrat", sans-serif;
}

.heading > h3 {
	font-family: "Montserrat", sans-serif;
}

h5,
h6 {
	margin-top: 2px;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
}

p {
	font-family: "Consolas", monospace;
}



.container {
	width: 80%;
	height: 500px;
	margin: auto;
	padding: 10px;
	background: black;
}

div.heading {
	text-align: center;
	font-family: "Consolas", monospace;
	background: black;
}

div.a {
	font-family: "Consolas", monospace;
	width: 50%;
	height: 200px;
	float: left;
	text-align: left;
}

div.b {
	font-family: "Consolas", monospace;
	margin-left: 50%;
	height: 200px;
	text-align: center;
}

#popupBoxOnePosition {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

.popupBoxWrapper {
	width: 550px;
	margin: 50px auto;
	text-align: left;
	font-family: "Consolas", monospace;
}

.popupBoxContent {
	background-color: black;
	padding: 15px;
	font-family: "Consolas", monospace;
	text-align: center;
}

img.test {
	height: 42px;
	width: 42px;
}


/* LIGHT THEME */

* > .is-light {
	background: white;
	color: black;
}

html .is-light {
	background: white;
	background-size: cover;
	color: black;
}

.container .is-light {
	width: 80%;
	height: 500px;
	margin: auto;
	padding: 10px;
	background: white;
}

div.heading .is-light {
	text-align: center;
	font-family: "Consolas", monospace;
	background: white;
}

.popupBoxContent .is-light {
	background-color: white;
	padding: 15px;
	font-family: "Consolas", monospace;
	text-align: center;
}

h1 .is-light,
h2 .is-light,
h3 .is-light,
h4 .is-light {
	color: black;
}

p .is-light {
	color: black;
}
