body {
	margin-top: 1em;
}

a {
	color: skyblue;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
a:hover {
	color: rgb(58, 125, 151);
	text-shadow: 0 0 3px cyan;
	text-decoration: underline;
}

/*table > tbody > tr > a > img:hover {
	
}*/

/* DARK THEME (Default) */

html {
	background: black;
	background-size: cover;
	color: white;
}

h1,
h2,
h3,
h4 {
	font-family: "Consolas", monospace;
	font-weight: normal !important;
}

.heading > h1 {
	margin-bottom: 7px;
	font-family: "Montserrat", sans-serif;
}

.heading > h3 {
	font-family: "Montserrat", sans-serif;
}

h5,
h6 {
	margin-top: 2px;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
}

p {
	font-family: "Consolas", monospace;
}



.container {
	width: 80%;
	height: 500px;
	margin: auto;
	padding: 10px;
	background: black;
}

div.heading {
	text-align: center;
	font-family: "Consolas", monospace;
	background: black;
}

div.user-info {
	font-family: "Consolas", monospace;
	width: 50%;
	height: 200px;
	float: left;
	text-align: left;
}

div.output {
	font-family: "Consolas", monospace;
	margin-left: 50%;
	height: 200px;
	text-align: center;
}

#popupBoxOnePosition {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

.popupBoxWrapper {
	width: 550px;
	margin: 50px auto;
	text-align: left;
	font-family: "Consolas", monospace;
}

.popupBoxContent {
	background-color: black;
	padding: 15px;
	font-family: "Consolas", monospace;
	text-align: center;
}

#meleeSelection {
	display: none;
}

button {
	background-color: #2d93ff;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 20px;
	border: 3px outset rgb(0, 180, 255);
	color: #fff;
	font-family: "Montserrat";
	padding-top: 2px;
	padding-bottom: 2px;
	transition: all 0.1s ease-out;
}

button:active {
	background-color: #1a65b6;
	border: 3px outset rgb(0, 230, 255);
}

input {
	background-color: #2d93ff;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 20px;
	border: 3px outset rgb(0, 180, 255);
	transition: all 0.1s ease-out;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: inherit;
}

input:focus {
	background-color: #1a65b6;
	border: 3px outset rgb(0, 230, 255);
}

input:invalid {
	background: #8c122b;
	border: 3px outset rgb(180, 0, 0);
}


